@import "tailwindcss";
@import "./theme.css";
html{
  background-color:var(--color-background) ;
  color:var(--color-text);
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}


body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
nav{
  color:var(--color-accent);

}

.dark h1 {
  font-family: "Lobster";
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  font-weight: bold;

}
h1 {
  font-family: "Lobster";
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  font-weight: bold;

}
h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  font-weight: bold;
  font-family: "Raleway", sans-serif;

}
h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: bold;
  font-family: "Raleway", sans-serif;

}
h4 {
  color:var(--color-secondary);
  display: block;
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: bold;
  font-family: "Raleway", sans-serif;

}
h5 {
  color:var(--color-secondary);
  display: block;
  font-size: 0.83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  font-weight: bold;
  font-family: "Raleway", sans-serif;

}
h6 {
  color:var(--color-secondary);
  display: block;
  font-size: 0.67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  font-weight: bold;
  font-family: "Raleway", sans-serif;

}
ul {
  display: block;
  list-style-type: disc;
  margin-top: 2px;
  margin-bottom: 4px;
  padding-left: 10px;
    font-family: "Raleway", sans-serif;
}
li {
  display: list-item;
    font-family: "Raleway", sans-serif;
}
ol {
  display: block;
  list-style-type: decimal;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-left: 40px;
    font-family: "Raleway", sans-serif;
}
p {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
    font-family: "Raleway", sans-serif;
}
