---
import BaseLayout from '../../layouts/Layout.astro';
const personalPosts = Object.values(import.meta.glob('./../posts/personal/*.md', { eager: true }));
const professionalPosts = Object.values(import.meta.glob('./../posts/professional/*.md', { eager: true }));

const tags = [
  ...new Set(
    [
      ...personalPosts.map((post: any) => post.frontmatter.tags).flat(),
      ...professionalPosts.map((post: any) => post.frontmatter.tags).flat()
    ]
  )
];
const pageTitle = "Tag Index";
---
<BaseLayout> 
  <div class="flex-grow ml-8">
    <div class="flex flex-wrap gap-2">
      {tags.map((tag) => (
        <p class="m-2 border border-dotted border-[#532d2d] p-1 text-md rounded-lg text-black bg-[#cba6f7]"><a href={`/tags/${tag}`}>{tag}</a></p>
      ))}
    </div>
  </div>
</BaseLayout>