---
import BaseLayout from '../layouts/Layout.astro';
const pageTitle = "Aishwarya - Portfolio";

---
<BaseLayout pageTitle={pageTitle}>
  <div class="flex-grow ">
  <h2>My Projects</h2>
</div>
</BaseLayout>