---
const { title, url } = Astro.props;
---
<a href={url}>
<div class="bg-gray-800 w-70 flex items-center shadow-gray-400 shadow-lg text-white m-5 rounded-lg p-5 h-50 text-justify">
   <p>{title}</p>
</div>
</a>
