---
const { title, url,date } = Astro.props;
---
<li class="m-2 list-none">
   <div class="flex">
   <p class="mr-3 text-right font-light min-w-[90px] inline-block">{date}</p>
   <a href={url} class="py-2">
      {title}
   </a>
   </div>
</li>