---
const platform = "Github";
const username = "aishwarya-36";
---

<footer class="flex bg-gray-700 w-full gap-4 mt-8">
  <p class="text-white">Learn more about my projects on <a class="p-2 text-white bg-[#4c1d95] rounded-md no-underline" href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
</footer>