---
---
<a class="block text-center rounded-md mx-3 md:px-8 md:mx-5 px-3 my-2 py-2 text-lg font-bold uppercase hover:bg-[#7f56a5] focus:bg-[#7f56a5]" href="/">Home</a>
<a class="block text-center rounded-md mx-3 md:px-8 md:mx-5 px-3 my-2 py-2 text-lg font-bold uppercase hover:bg-[#7f56a5] focus:bg-[#7f56a5]"href="/about/">About</a>
<a class="block text-center rounded-md mx-3 md:px-8 md:mx-5 px-3 my-2 py-2 text-lg font-bold uppercase hover:bg-[#7f56a5] focus:bg-[#7f56a5]"href="/posts/">Blog</a>
<a class="block text-center rounded-md mx-3 md:px-8 md:mx-5 px-3 my-2 py-2 text-lg font-bold uppercase hover:bg-[#7f56a5] focus:bg-[#7f56a5]"href="/tags/">Tags</a>

