---
---
<a class="block text-center rounded-md mx-3 px-5 my-2 py-2 text-lg font-bold uppercase hover:bg-[#7f56a5] focus:bg-[#7f56a5]" href="/portophilio/">Home</a>
<a class="block text-center rounded-md mx-3 px-5 my-2 py-2 text-lg font-bold uppercase hover:bg-[#7f56a5] focus:bg-[#7f56a5]"href="/portophilio/about/">About</a>
<a class="block text-center rounded-md mx-3 px-5 my-2 py-2 text-lg font-bold uppercase hover:bg-[#7f56a5] focus:bg-[#7f56a5]"href="/portophilio/posts/">Blog</a>
<a class="block text-center rounded-md mx-3 px-5 my-2 py-2 text-lg font-bold uppercase hover:bg-[#7f56a5] focus:bg-[#7f56a5]"href="/portophilio/tags/">Tags</a>

