---
---
<a class="block text-center rounded-md mx-3 md:px-8 md:mx-5 px-3 my-2 py-2 text-lg font-bold uppercase" href="/">Home</a>
<a class="block text-center rounded-md mx-3 md:px-8 md:mx-5 px-3 my-2 py-2 text-lg font-bold uppercase"href="/about/">About</a>
<a class="block text-center rounded-md mx-3 md:px-8 md:mx-5 px-3 my-2 py-2 text-lg font-bold uppercase"href="/posts/">Blog</a>
<a class="block text-center rounded-md mx-3 md:px-8 md:mx-5 px-3 my-2 py-2 text-lg font-bold uppercase"href="/tags/">Tags</a>

