---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css'

const { pageTitle } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Aishwarya-Portfolio</title>
		<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet'>
		<style>
			h1 {
				font-family: 'Lobster';
			}
			
		</style>
	</head>
	<body class="flex flex-col min-h-screen">
		<Header />
		<div class="flex-grow flex justify-center">
			<div class="m-5 flex flex-col md:items-center max-w-[1000px] text-justify">
				<h1>{ pageTitle } </h1>
				<slot />
			</div>
		</div>
		<Footer />
	</body>
</html>
